[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CITAN"]
	path = CITAN
	url = https://github.com/gagolews/citan
[submodule "FuzzyNumbers"]
	path = FuzzyNumbers
	url = https://github.com/gagolews/fuzzynumbers
[submodule "TurtleGraphics"]
	path = TurtleGraphics
	url = https://github.com/gagolews/turtlegraphics
[submodule "agop"]
	path = agop
	url = https://github.com/gagolews/agop
[submodule "genie"]
	path = genie
	url = https://github.com/gagolews/genie
[submodule "genieclust"]
	path = genieclust
	url = https://github.com/gagolews/genieclust
[submodule "quitefastmst"]
	path = quitefastmst
	url = https://github.com/gagolews/quitefastmst
[submodule "realtest"]
	path = realtest
	url = https://github.com/gagolews/realtest
[submodule "stringi"]
	path = stringi
	url = https://github.com/gagolews/stringi
[submodule "stringx"]
	path = stringx
	url = https://github.com/gagolews/stringx
